--
-- PostgreSQL database dump
--

\restrict SgW2NdJVfbLlQ92OTmGDR1sEXweo6eCQDzu1B4cwMeEh4UlO6585HPoEM33dAQv

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: _locales; Type: TYPE; Schema: public; Owner: epct_user
--

CREATE TYPE public._locales AS ENUM (
    'fr',
    'en',
    'ar'
);


ALTER TYPE public._locales OWNER TO epct_user;

--
-- Name: enum_blogs_post_type; Type: TYPE; Schema: public; Owner: epct_user
--

CREATE TYPE public.enum_blogs_post_type AS ENUM (
    'blog',
    'nouveaute'
);


ALTER TYPE public.enum_blogs_post_type OWNER TO epct_user;

--
-- Name: enum_contact_submissions_reason; Type: TYPE; Schema: public; Owner: epct_user
--

CREATE TYPE public.enum_contact_submissions_reason AS ENUM (
    'devis',
    'explications',
    'disponibilite',
    'rappel',
    'sav',
    'autre'
);


ALTER TYPE public.enum_contact_submissions_reason OWNER TO epct_user;

--
-- Name: enum_products_stock_status; Type: TYPE; Schema: public; Owner: epct_user
--

CREATE TYPE public.enum_products_stock_status AS ENUM (
    'in-stock',
    'out-of-stock',
    'on-order'
);


ALTER TYPE public.enum_products_stock_status OWNER TO epct_user;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: epct_user
--

CREATE TYPE public.enum_users_role AS ENUM (
    'admin',
    'editor'
);


ALTER TYPE public.enum_users_role OWNER TO epct_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: about_page; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.about_page (
    id integer NOT NULL,
    hero_image_id integer,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone,
    created_at timestamp(3) with time zone
);


ALTER TABLE public.about_page OWNER TO epct_user;

--
-- Name: about_page_gallery; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.about_page_gallery (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    image_id integer NOT NULL,
    title character varying,
    description character varying
);


ALTER TABLE public.about_page_gallery OWNER TO epct_user;

--
-- Name: about_page_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.about_page_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.about_page_id_seq OWNER TO epct_user;

--
-- Name: about_page_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.about_page_id_seq OWNED BY public.about_page.id;


--
-- Name: blogs; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.blogs (
    id integer NOT NULL,
    cover_image_id integer,
    published_at timestamp(3) with time zone NOT NULL,
    featured boolean DEFAULT false,
    active boolean DEFAULT true,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    post_type public.enum_blogs_post_type DEFAULT 'blog'::public.enum_blogs_post_type NOT NULL,
    title character varying NOT NULL,
    slug character varying NOT NULL,
    author character varying NOT NULL,
    excerpt character varying NOT NULL,
    content jsonb NOT NULL,
    cover_image_title character varying
);


ALTER TABLE public.blogs OWNER TO epct_user;

--
-- Name: blogs_gallery; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.blogs_gallery (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    image_id integer NOT NULL,
    title character varying
);


ALTER TABLE public.blogs_gallery OWNER TO epct_user;

--
-- Name: blogs_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.blogs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.blogs_id_seq OWNER TO epct_user;

--
-- Name: blogs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.blogs_id_seq OWNED BY public.blogs.id;


--
-- Name: blogs_rels; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.blogs_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    blogs_id integer
);


ALTER TABLE public.blogs_rels OWNER TO epct_user;

--
-- Name: blogs_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.blogs_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.blogs_rels_id_seq OWNER TO epct_user;

--
-- Name: blogs_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.blogs_rels_id_seq OWNED BY public.blogs_rels.id;


--
-- Name: blogs_tags; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.blogs_tags (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    label character varying NOT NULL
);


ALTER TABLE public.blogs_tags OWNER TO epct_user;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.brands (
    id integer NOT NULL,
    logo_id integer,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    featured_image_id integer,
    badge_color character varying,
    name_fr character varying NOT NULL,
    name_en character varying,
    name_ar character varying,
    description_fr character varying,
    description_en character varying,
    description_ar character varying
);


ALTER TABLE public.brands OWNER TO epct_user;

--
-- Name: brands_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.brands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brands_id_seq OWNER TO epct_user;

--
-- Name: brands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.brands_id_seq OWNED BY public.brands.id;


--
-- Name: brands_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.brands_locales (
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL,
    slug character varying NOT NULL
);


ALTER TABLE public.brands_locales OWNER TO epct_user;

--
-- Name: brands_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.brands_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brands_locales_id_seq OWNER TO epct_user;

--
-- Name: brands_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.brands_locales_id_seq OWNED BY public.brands_locales.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    icon_id integer,
    "order" numeric DEFAULT 0,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    name_fr character varying NOT NULL,
    name_en character varying,
    name_ar character varying,
    description_fr character varying,
    description_en character varying,
    description_ar character varying
);


ALTER TABLE public.categories OWNER TO epct_user;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO epct_user;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: categories_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.categories_locales (
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL,
    slug character varying NOT NULL
);


ALTER TABLE public.categories_locales OWNER TO epct_user;

--
-- Name: categories_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.categories_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_locales_id_seq OWNER TO epct_user;

--
-- Name: categories_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.categories_locales_id_seq OWNED BY public.categories_locales.id;


--
-- Name: contact_submissions; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.contact_submissions (
    id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying NOT NULL,
    message character varying NOT NULL,
    read boolean DEFAULT false,
    notes character varying,
    submitted_at timestamp(3) with time zone,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    reason public.enum_contact_submissions_reason NOT NULL,
    address character varying,
    attachment_id integer,
    dismissed boolean DEFAULT false
);


ALTER TABLE public.contact_submissions OWNER TO epct_user;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.contact_submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contact_submissions_id_seq OWNER TO epct_user;

--
-- Name: contact_submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.contact_submissions_id_seq OWNED BY public.contact_submissions.id;


--
-- Name: global_settings; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.global_settings (
    id integer NOT NULL,
    phone character varying DEFAULT '+216 58 348 436'::character varying NOT NULL,
    whatsapp_number character varying DEFAULT '+216 58 348 436'::character varying NOT NULL,
    email character varying DEFAULT 'epctunisie@gmail.com'::character varying NOT NULL,
    facebook character varying,
    tiktok character varying,
    updated_at timestamp(3) with time zone,
    created_at timestamp(3) with time zone
);


ALTER TABLE public.global_settings OWNER TO epct_user;

--
-- Name: global_settings_catalogue_p_d_fs; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.global_settings_catalogue_p_d_fs (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    file_id integer NOT NULL,
    title character varying
);


ALTER TABLE public.global_settings_catalogue_p_d_fs OWNER TO epct_user;

--
-- Name: global_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.global_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_settings_id_seq OWNER TO epct_user;

--
-- Name: global_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.global_settings_id_seq OWNED BY public.global_settings.id;


--
-- Name: global_settings_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.global_settings_locales (
    company_name character varying DEFAULT 'EPCT'::character varying NOT NULL,
    address character varying NOT NULL,
    homepage_hero_title character varying DEFAULT 'Pieces pour centrales & pompes a beton'::character varying NOT NULL,
    homepage_hero_subtitle character varying DEFAULT 'Solutions robustes pour vos equipements beton'::character varying,
    homepage_intro_text character varying,
    default_seo_title character varying,
    default_seo_description character varying,
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL
);


ALTER TABLE public.global_settings_locales OWNER TO epct_user;

--
-- Name: global_settings_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.global_settings_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.global_settings_locales_id_seq OWNER TO epct_user;

--
-- Name: global_settings_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.global_settings_locales_id_seq OWNED BY public.global_settings_locales.id;


--
-- Name: media; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.media (
    id integer NOT NULL,
    alt character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    url character varying,
    thumbnail_u_r_l character varying,
    filename character varying,
    mime_type character varying,
    filesize numeric,
    width numeric,
    height numeric
);


ALTER TABLE public.media OWNER TO epct_user;

--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.media_id_seq OWNER TO epct_user;

--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media.id;


--
-- Name: payload_kv; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_kv (
    id integer NOT NULL,
    key character varying NOT NULL,
    data jsonb NOT NULL
);


ALTER TABLE public.payload_kv OWNER TO epct_user;

--
-- Name: payload_kv_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_kv_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_kv_id_seq OWNER TO epct_user;

--
-- Name: payload_kv_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_kv_id_seq OWNED BY public.payload_kv.id;


--
-- Name: payload_locked_documents; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_locked_documents (
    id integer NOT NULL,
    global_slug character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_locked_documents OWNER TO epct_user;

--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_locked_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_locked_documents_id_seq OWNER TO epct_user;

--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_locked_documents_id_seq OWNED BY public.payload_locked_documents.id;


--
-- Name: payload_locked_documents_rels; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_locked_documents_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer,
    media_id integer,
    categories_id integer,
    brands_id integer,
    products_id integer,
    contact_submissions_id integer,
    blogs_id integer,
    truck_models_id integer,
    truck_categories_id integer
);


ALTER TABLE public.payload_locked_documents_rels OWNER TO epct_user;

--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_locked_documents_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNER TO epct_user;

--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNED BY public.payload_locked_documents_rels.id;


--
-- Name: payload_migrations; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_migrations (
    id integer NOT NULL,
    name character varying,
    batch numeric,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_migrations OWNER TO epct_user;

--
-- Name: payload_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_migrations_id_seq OWNER TO epct_user;

--
-- Name: payload_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_migrations_id_seq OWNED BY public.payload_migrations.id;


--
-- Name: payload_preferences; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_preferences (
    id integer NOT NULL,
    key character varying,
    value jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payload_preferences OWNER TO epct_user;

--
-- Name: payload_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_preferences_id_seq OWNER TO epct_user;

--
-- Name: payload_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_preferences_id_seq OWNED BY public.payload_preferences.id;


--
-- Name: payload_preferences_rels; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.payload_preferences_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer
);


ALTER TABLE public.payload_preferences_rels OWNER TO epct_user;

--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.payload_preferences_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNER TO epct_user;

--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNED BY public.payload_preferences_rels.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.products (
    id integer NOT NULL,
    reference character varying NOT NULL,
    featured boolean DEFAULT false,
    active boolean DEFAULT true,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    truck_category_id integer NOT NULL,
    category_id integer NOT NULL,
    stock_status public.enum_products_stock_status DEFAULT 'in-stock'::public.enum_products_stock_status NOT NULL,
    name_fr character varying NOT NULL,
    name_en character varying,
    name_ar character varying,
    shortdescription_fr character varying NOT NULL,
    shortdescription_en character varying,
    shortdescription_ar character varying,
    fulldescription_fr jsonb,
    fulldescription_en jsonb,
    fulldescription_ar jsonb,
    additionalinfo_fr jsonb,
    additionalinfo_en jsonb,
    additionalinfo_ar jsonb
);


ALTER TABLE public.products OWNER TO epct_user;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO epct_user;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: products_images; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.products_images (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    image_id integer NOT NULL,
    alt character varying
);


ALTER TABLE public.products_images OWNER TO epct_user;

--
-- Name: products_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.products_locales (
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL,
    slug character varying NOT NULL
);


ALTER TABLE public.products_locales OWNER TO epct_user;

--
-- Name: products_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.products_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_locales_id_seq OWNER TO epct_user;

--
-- Name: products_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.products_locales_id_seq OWNED BY public.products_locales.id;


--
-- Name: products_rels; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.products_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    truck_models_id integer,
    brands_id integer
);


ALTER TABLE public.products_rels OWNER TO epct_user;

--
-- Name: products_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.products_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_rels_id_seq OWNER TO epct_user;

--
-- Name: products_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.products_rels_id_seq OWNED BY public.products_rels.id;


--
-- Name: products_sizes; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.products_sizes (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    label character varying NOT NULL,
    value character varying NOT NULL
);


ALTER TABLE public.products_sizes OWNER TO epct_user;

--
-- Name: truck_categories; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.truck_categories (
    id integer NOT NULL,
    image_id integer,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    name_fr character varying NOT NULL,
    name_en character varying,
    name_ar character varying,
    description_fr character varying,
    description_en character varying,
    description_ar character varying
);


ALTER TABLE public.truck_categories OWNER TO epct_user;

--
-- Name: truck_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.truck_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.truck_categories_id_seq OWNER TO epct_user;

--
-- Name: truck_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.truck_categories_id_seq OWNED BY public.truck_categories.id;


--
-- Name: truck_categories_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.truck_categories_locales (
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL,
    slug character varying NOT NULL
);


ALTER TABLE public.truck_categories_locales OWNER TO epct_user;

--
-- Name: truck_categories_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.truck_categories_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.truck_categories_locales_id_seq OWNER TO epct_user;

--
-- Name: truck_categories_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.truck_categories_locales_id_seq OWNED BY public.truck_categories_locales.id;


--
-- Name: truck_models; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.truck_models (
    id integer NOT NULL,
    brand_id integer NOT NULL,
    truck_category_id integer NOT NULL,
    image_id integer,
    active boolean DEFAULT true,
    seo_title character varying,
    seo_description character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    name_fr character varying NOT NULL,
    name_en character varying,
    name_ar character varying,
    description_fr character varying,
    description_en character varying,
    description_ar character varying
);


ALTER TABLE public.truck_models OWNER TO epct_user;

--
-- Name: truck_models_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.truck_models_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.truck_models_id_seq OWNER TO epct_user;

--
-- Name: truck_models_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.truck_models_id_seq OWNED BY public.truck_models.id;


--
-- Name: truck_models_locales; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.truck_models_locales (
    id integer NOT NULL,
    _locale public._locales NOT NULL,
    _parent_id integer NOT NULL,
    slug character varying NOT NULL
);


ALTER TABLE public.truck_models_locales OWNER TO epct_user;

--
-- Name: truck_models_locales_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.truck_models_locales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.truck_models_locales_id_seq OWNER TO epct_user;

--
-- Name: truck_models_locales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.truck_models_locales_id_seq OWNED BY public.truck_models_locales.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    role public.enum_users_role DEFAULT 'editor'::public.enum_users_role NOT NULL,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    email character varying NOT NULL,
    reset_password_token character varying,
    reset_password_expiration timestamp(3) with time zone,
    salt character varying,
    hash character varying,
    login_attempts numeric DEFAULT 0,
    lock_until timestamp(3) with time zone
);


ALTER TABLE public.users OWNER TO epct_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: epct_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO epct_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: epct_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_sessions; Type: TABLE; Schema: public; Owner: epct_user
--

CREATE TABLE public.users_sessions (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    created_at timestamp(3) with time zone,
    expires_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.users_sessions OWNER TO epct_user;

--
-- Name: about_page id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page ALTER COLUMN id SET DEFAULT nextval('public.about_page_id_seq'::regclass);


--
-- Name: blogs id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs ALTER COLUMN id SET DEFAULT nextval('public.blogs_id_seq'::regclass);


--
-- Name: blogs_rels id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_rels ALTER COLUMN id SET DEFAULT nextval('public.blogs_rels_id_seq'::regclass);


--
-- Name: brands id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands ALTER COLUMN id SET DEFAULT nextval('public.brands_id_seq'::regclass);


--
-- Name: brands_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands_locales ALTER COLUMN id SET DEFAULT nextval('public.brands_locales_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: categories_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories_locales ALTER COLUMN id SET DEFAULT nextval('public.categories_locales_id_seq'::regclass);


--
-- Name: contact_submissions id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.contact_submissions ALTER COLUMN id SET DEFAULT nextval('public.contact_submissions_id_seq'::regclass);


--
-- Name: global_settings id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings ALTER COLUMN id SET DEFAULT nextval('public.global_settings_id_seq'::regclass);


--
-- Name: global_settings_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_locales ALTER COLUMN id SET DEFAULT nextval('public.global_settings_locales_id_seq'::regclass);


--
-- Name: media id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.media ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: payload_kv id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_kv ALTER COLUMN id SET DEFAULT nextval('public.payload_kv_id_seq'::regclass);


--
-- Name: payload_locked_documents id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_id_seq'::regclass);


--
-- Name: payload_locked_documents_rels id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_rels_id_seq'::regclass);


--
-- Name: payload_migrations id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_migrations ALTER COLUMN id SET DEFAULT nextval('public.payload_migrations_id_seq'::regclass);


--
-- Name: payload_preferences id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_id_seq'::regclass);


--
-- Name: payload_preferences_rels id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_rels_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: products_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_locales ALTER COLUMN id SET DEFAULT nextval('public.products_locales_id_seq'::regclass);


--
-- Name: products_rels id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_rels ALTER COLUMN id SET DEFAULT nextval('public.products_rels_id_seq'::regclass);


--
-- Name: truck_categories id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories ALTER COLUMN id SET DEFAULT nextval('public.truck_categories_id_seq'::regclass);


--
-- Name: truck_categories_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories_locales ALTER COLUMN id SET DEFAULT nextval('public.truck_categories_locales_id_seq'::regclass);


--
-- Name: truck_models id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models ALTER COLUMN id SET DEFAULT nextval('public.truck_models_id_seq'::regclass);


--
-- Name: truck_models_locales id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models_locales ALTER COLUMN id SET DEFAULT nextval('public.truck_models_locales_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: about_page; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.about_page (id, hero_image_id, seo_title, seo_description, updated_at, created_at) FROM stdin;
1	17	\N	\N	2026-06-03 14:47:37.455+00	2026-06-03 11:56:46.094+00
\.


--
-- Data for Name: about_page_gallery; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.about_page_gallery (_order, _parent_id, id, image_id, title, description) FROM stdin;
1	1	6a201664cc7e462d1bc2cf1a	16	\N	\N
2	1	6a20166bcc7e462d1bc2cf1c	15	\N	\N
3	1	6a201671cc7e462d1bc2cf1e	12	\N	\N
4	1	6a201677cc7e462d1bc2cf20	9	\N	\N
5	1	6a20167acc7e462d1bc2cf22	7	\N	\N
\.


--
-- Data for Name: blogs; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: blogs_gallery; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.blogs_gallery (_order, _parent_id, id, image_id, title) FROM stdin;
\.


--
-- Data for Name: blogs_rels; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.blogs_rels (id, "order", parent_id, path, blogs_id) FROM stdin;
\.


--
-- Data for Name: blogs_tags; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.blogs_tags (_order, _parent_id, id, label) FROM stdin;
\.


--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.brands (id, logo_id, seo_title, seo_description, updated_at, created_at, featured_image_id, badge_color, name_fr, name_en, name_ar, description_fr, description_en, description_ar) FROM stdin;
3	\N	\N	\N	2026-06-08 07:49:31.072+00	2026-06-08 07:49:31.072+00	\N	#555A58	Schwing	Schwing	Schwing	Schwing	Schwing	Schwing
\.


--
-- Data for Name: brands_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.brands_locales (id, _locale, _parent_id, slug) FROM stdin;
3	fr	3	schwing-fr
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: categories_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.categories_locales (id, _locale, _parent_id, slug) FROM stdin;
2	fr	5	malaxeur-fr
\.


--
-- Data for Name: contact_submissions; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.contact_submissions (id, name, email, phone, message, read, notes, submitted_at, updated_at, created_at, reason, address, attachment_id, dismissed) FROM stdin;
4	sickducks Thirtfive	paladashe111@gmail.com	+216 20 955588	TEST	f	\N	2026-06-03 11:42:41.963+00	2026-06-03 11:42:52.101+00	2026-06-03 11:42:41.968+00	devis	4 Rue Paul c├®zanne	\N	t
\.


--
-- Data for Name: global_settings; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.global_settings (id, phone, whatsapp_number, email, facebook, tiktok, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: global_settings_catalogue_p_d_fs; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.global_settings_catalogue_p_d_fs (_order, _parent_id, id, file_id, title) FROM stdin;
\.


--
-- Data for Name: global_settings_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.global_settings_locales (company_name, address, homepage_hero_title, homepage_hero_subtitle, homepage_intro_text, default_seo_title, default_seo_description, id, _locale, _parent_id) FROM stdin;
\.


--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: payload_kv; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.payload_kv (id, key, data) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.payload_locked_documents (id, global_slug, updated_at, created_at) FROM stdin;
27	\N	2026-06-04 14:36:30.473+00	2026-06-04 14:35:14.124+00
32	\N	2026-06-08 07:27:49.882+00	2026-06-08 07:27:49.882+00
35	\N	2026-06-08 07:57:27.542+00	2026-06-08 07:57:27.542+00
\.


--
-- Data for Name: payload_locked_documents_rels; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.payload_locked_documents_rels (id, "order", parent_id, path, users_id, media_id, categories_id, brands_id, products_id, contact_submissions_id, blogs_id, truck_models_id, truck_categories_id) FROM stdin;
67	\N	35	document	\N	\N	\N	\N	3	\N	\N	\N	\N
68	\N	35	user	1	\N	\N	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: payload_migrations; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.payload_migrations (id, name, batch, updated_at, created_at) FROM stdin;
1	dev	-1	2026-06-09 08:08:27.991+00	2026-05-06 11:52:08.437+00
\.


--
-- Data for Name: payload_preferences; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: payload_preferences_rels; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.payload_preferences_rels (id, "order", parent_id, path, users_id) FROM stdin;
139	\N	16	user	1
8	\N	8	user	1
147	\N	7	user	1
149	\N	20	user	1
151	\N	9	user	1
20	\N	4	user	1
22	\N	2	user	1
100	\N	17	user	1
27	\N	5	user	1
157	\N	21	user	1
158	\N	3	user	1
32	\N	6	user	1
38	\N	10	user	1
167	\N	18	user	1
54	\N	15	user	1
126	\N	11	user	1
129	\N	13	user	1
183	\N	22	user	1
135	\N	19	user	1
68	\N	14	user	1
136	\N	12	user	1
189	\N	24	user	1
192	\N	23	user	1
195	\N	25	user	1
207	\N	26	user	1
209	\N	1	user	1
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: products_images; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.products_images (_order, _parent_id, id, image_id, alt) FROM stdin;
1	3	6a2674f8ebcb6f25b9fdc75c	20	malaxeur pompe 
\.


--
-- Data for Name: products_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.products_locales (id, _locale, _parent_id, slug) FROM stdin;
2	fr	3	sickducks-fr
\.


--
-- Data for Name: products_rels; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.products_rels (id, "order", parent_id, path, truck_models_id, brands_id) FROM stdin;
9	1	3	brand	\N	3
\.


--
-- Data for Name: products_sizes; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.products_sizes (_order, _parent_id, id, label, value) FROM stdin;
\.


--
-- Data for Name: truck_categories; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.truck_categories (id, image_id, seo_title, seo_description, updated_at, created_at, name_fr, name_en, name_ar, description_fr, description_en, description_ar) FROM stdin;
4	\N	\N	\N	2026-06-08 07:49:16.978+00	2026-06-08 07:49:16.978+00	Malaxeur	\N	\N	\N	\N	\N
\.


--
-- Data for Name: truck_categories_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.truck_categories_locales (id, _locale, _parent_id, slug) FROM stdin;
1	fr	4	malaxeur-fr
\.


--
-- Data for Name: truck_models; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.truck_models (id, brand_id, truck_category_id, image_id, active, seo_title, seo_description, updated_at, created_at, name_fr, name_en, name_ar, description_fr, description_en, description_ar) FROM stdin;
\.


--
-- Data for Name: truck_models_locales; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.truck_models_locales (id, _locale, _parent_id, slug) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: epct_user
--



--
-- Data for Name: users_sessions; Type: TABLE DATA; Schema: public; Owner: epct_user
--

COPY public.users_sessions (_order, _parent_id, id, created_at, expires_at) FROM stdin;
1	1	485ce924-e074-4297-a42a-bc5f370b534e	2026-06-08 12:01:59.163+00	2026-06-08 14:01:59.163+00
\.


--
-- Name: about_page_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.about_page_id_seq', 1, true);


--
-- Name: blogs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.blogs_id_seq', 3, true);


--
-- Name: blogs_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.blogs_rels_id_seq', 1, true);


--
-- Name: brands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.brands_id_seq', 3, true);


--
-- Name: brands_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.brands_locales_id_seq', 3, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.categories_id_seq', 5, true);


--
-- Name: categories_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.categories_locales_id_seq', 2, true);


--
-- Name: contact_submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.contact_submissions_id_seq', 4, true);


--
-- Name: global_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.global_settings_id_seq', 1, false);


--
-- Name: global_settings_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.global_settings_locales_id_seq', 1, false);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.media_id_seq', 20, true);


--
-- Name: payload_kv_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_kv_id_seq', 1, false);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_locked_documents_id_seq', 35, true);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_locked_documents_rels_id_seq', 68, true);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_migrations_id_seq', 1, true);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_preferences_id_seq', 26, true);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.payload_preferences_rels_id_seq', 209, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.products_id_seq', 4, true);


--
-- Name: products_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.products_locales_id_seq', 2, true);


--
-- Name: products_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.products_rels_id_seq', 9, true);


--
-- Name: truck_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.truck_categories_id_seq', 4, true);


--
-- Name: truck_categories_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.truck_categories_locales_id_seq', 1, true);


--
-- Name: truck_models_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.truck_models_id_seq', 4, true);


--
-- Name: truck_models_locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.truck_models_locales_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: epct_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: about_page_gallery about_page_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page_gallery
    ADD CONSTRAINT about_page_gallery_pkey PRIMARY KEY (id);


--
-- Name: about_page about_page_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page
    ADD CONSTRAINT about_page_pkey PRIMARY KEY (id);


--
-- Name: blogs_gallery blogs_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_gallery
    ADD CONSTRAINT blogs_gallery_pkey PRIMARY KEY (id);


--
-- Name: blogs blogs_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT blogs_pkey PRIMARY KEY (id);


--
-- Name: blogs_rels blogs_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_rels
    ADD CONSTRAINT blogs_rels_pkey PRIMARY KEY (id);


--
-- Name: blogs_tags blogs_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_tags
    ADD CONSTRAINT blogs_tags_pkey PRIMARY KEY (id);


--
-- Name: brands_locales brands_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands_locales
    ADD CONSTRAINT brands_locales_pkey PRIMARY KEY (id);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: categories_locales categories_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories_locales
    ADD CONSTRAINT categories_locales_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: contact_submissions contact_submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.contact_submissions
    ADD CONSTRAINT contact_submissions_pkey PRIMARY KEY (id);


--
-- Name: global_settings_catalogue_p_d_fs global_settings_catalogue_p_d_fs_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_catalogue_p_d_fs
    ADD CONSTRAINT global_settings_catalogue_p_d_fs_pkey PRIMARY KEY (id);


--
-- Name: global_settings_locales global_settings_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_locales
    ADD CONSTRAINT global_settings_locales_pkey PRIMARY KEY (id);


--
-- Name: global_settings global_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings
    ADD CONSTRAINT global_settings_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: payload_kv payload_kv_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_kv
    ADD CONSTRAINT payload_kv_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents payload_locked_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents
    ADD CONSTRAINT payload_locked_documents_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pkey PRIMARY KEY (id);


--
-- Name: payload_migrations payload_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_migrations
    ADD CONSTRAINT payload_migrations_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences payload_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences
    ADD CONSTRAINT payload_preferences_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences_rels payload_preferences_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_pkey PRIMARY KEY (id);


--
-- Name: products_images products_images_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_images
    ADD CONSTRAINT products_images_pkey PRIMARY KEY (id);


--
-- Name: products_locales products_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_locales
    ADD CONSTRAINT products_locales_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products_rels products_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_rels
    ADD CONSTRAINT products_rels_pkey PRIMARY KEY (id);


--
-- Name: products_sizes products_sizes_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_sizes
    ADD CONSTRAINT products_sizes_pkey PRIMARY KEY (id);


--
-- Name: truck_categories_locales truck_categories_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories_locales
    ADD CONSTRAINT truck_categories_locales_pkey PRIMARY KEY (id);


--
-- Name: truck_categories truck_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories
    ADD CONSTRAINT truck_categories_pkey PRIMARY KEY (id);


--
-- Name: truck_models_locales truck_models_locales_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models_locales
    ADD CONSTRAINT truck_models_locales_pkey PRIMARY KEY (id);


--
-- Name: truck_models truck_models_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models
    ADD CONSTRAINT truck_models_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_sessions users_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_pkey PRIMARY KEY (id);


--
-- Name: about_page_gallery_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX about_page_gallery_image_idx ON public.about_page_gallery USING btree (image_id);


--
-- Name: about_page_gallery_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX about_page_gallery_order_idx ON public.about_page_gallery USING btree (_order);


--
-- Name: about_page_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX about_page_gallery_parent_id_idx ON public.about_page_gallery USING btree (_parent_id);


--
-- Name: about_page_hero_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX about_page_hero_image_idx ON public.about_page USING btree (hero_image_id);


--
-- Name: blogs_cover_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_cover_image_idx ON public.blogs USING btree (cover_image_id);


--
-- Name: blogs_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_created_at_idx ON public.blogs USING btree (created_at);


--
-- Name: blogs_gallery_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_gallery_image_idx ON public.blogs_gallery USING btree (image_id);


--
-- Name: blogs_gallery_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_gallery_order_idx ON public.blogs_gallery USING btree (_order);


--
-- Name: blogs_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_gallery_parent_id_idx ON public.blogs_gallery USING btree (_parent_id);


--
-- Name: blogs_rels_blogs_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_rels_blogs_id_idx ON public.blogs_rels USING btree (blogs_id);


--
-- Name: blogs_rels_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_rels_order_idx ON public.blogs_rels USING btree ("order");


--
-- Name: blogs_rels_parent_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_rels_parent_idx ON public.blogs_rels USING btree (parent_id);


--
-- Name: blogs_rels_path_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_rels_path_idx ON public.blogs_rels USING btree (path);


--
-- Name: blogs_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX blogs_slug_idx ON public.blogs USING btree (slug);


--
-- Name: blogs_tags_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_tags_order_idx ON public.blogs_tags USING btree (_order);


--
-- Name: blogs_tags_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_tags_parent_id_idx ON public.blogs_tags USING btree (_parent_id);


--
-- Name: blogs_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX blogs_updated_at_idx ON public.blogs USING btree (updated_at);


--
-- Name: brands_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX brands_created_at_idx ON public.brands USING btree (created_at);


--
-- Name: brands_featured_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX brands_featured_image_idx ON public.brands USING btree (featured_image_id);


--
-- Name: brands_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX brands_locales_locale_parent_id_unique ON public.brands_locales USING btree (_locale, _parent_id);


--
-- Name: brands_logo_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX brands_logo_idx ON public.brands USING btree (logo_id);


--
-- Name: brands_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX brands_slug_idx ON public.brands_locales USING btree (slug, _locale);


--
-- Name: brands_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX brands_updated_at_idx ON public.brands USING btree (updated_at);


--
-- Name: categories_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX categories_created_at_idx ON public.categories USING btree (created_at);


--
-- Name: categories_icon_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX categories_icon_idx ON public.categories USING btree (icon_id);


--
-- Name: categories_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX categories_locales_locale_parent_id_unique ON public.categories_locales USING btree (_locale, _parent_id);


--
-- Name: categories_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX categories_slug_idx ON public.categories_locales USING btree (slug, _locale);


--
-- Name: categories_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX categories_updated_at_idx ON public.categories USING btree (updated_at);


--
-- Name: contact_submissions_attachment_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX contact_submissions_attachment_idx ON public.contact_submissions USING btree (attachment_id);


--
-- Name: contact_submissions_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX contact_submissions_created_at_idx ON public.contact_submissions USING btree (created_at);


--
-- Name: contact_submissions_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX contact_submissions_updated_at_idx ON public.contact_submissions USING btree (updated_at);


--
-- Name: global_settings_catalogue_p_d_fs_file_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX global_settings_catalogue_p_d_fs_file_idx ON public.global_settings_catalogue_p_d_fs USING btree (file_id);


--
-- Name: global_settings_catalogue_p_d_fs_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX global_settings_catalogue_p_d_fs_order_idx ON public.global_settings_catalogue_p_d_fs USING btree (_order);


--
-- Name: global_settings_catalogue_p_d_fs_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX global_settings_catalogue_p_d_fs_parent_id_idx ON public.global_settings_catalogue_p_d_fs USING btree (_parent_id);


--
-- Name: global_settings_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX global_settings_locales_locale_parent_id_unique ON public.global_settings_locales USING btree (_locale, _parent_id);


--
-- Name: media_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX media_created_at_idx ON public.media USING btree (created_at);


--
-- Name: media_filename_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX media_filename_idx ON public.media USING btree (filename);


--
-- Name: media_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX media_updated_at_idx ON public.media USING btree (updated_at);


--
-- Name: payload_kv_key_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX payload_kv_key_idx ON public.payload_kv USING btree (key);


--
-- Name: payload_locked_documents_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_created_at_idx ON public.payload_locked_documents USING btree (created_at);


--
-- Name: payload_locked_documents_global_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_global_slug_idx ON public.payload_locked_documents USING btree (global_slug);


--
-- Name: payload_locked_documents_rels_blogs_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_blogs_id_idx ON public.payload_locked_documents_rels USING btree (blogs_id);


--
-- Name: payload_locked_documents_rels_brands_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_brands_id_idx ON public.payload_locked_documents_rels USING btree (brands_id);


--
-- Name: payload_locked_documents_rels_categories_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_categories_id_idx ON public.payload_locked_documents_rels USING btree (categories_id);


--
-- Name: payload_locked_documents_rels_contact_submissions_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_contact_submissions_id_idx ON public.payload_locked_documents_rels USING btree (contact_submissions_id);


--
-- Name: payload_locked_documents_rels_media_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_media_id_idx ON public.payload_locked_documents_rels USING btree (media_id);


--
-- Name: payload_locked_documents_rels_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_order_idx ON public.payload_locked_documents_rels USING btree ("order");


--
-- Name: payload_locked_documents_rels_parent_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_parent_idx ON public.payload_locked_documents_rels USING btree (parent_id);


--
-- Name: payload_locked_documents_rels_path_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_path_idx ON public.payload_locked_documents_rels USING btree (path);


--
-- Name: payload_locked_documents_rels_products_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_products_id_idx ON public.payload_locked_documents_rels USING btree (products_id);


--
-- Name: payload_locked_documents_rels_truck_categories_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_truck_categories_id_idx ON public.payload_locked_documents_rels USING btree (truck_categories_id);


--
-- Name: payload_locked_documents_rels_truck_models_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_truck_models_id_idx ON public.payload_locked_documents_rels USING btree (truck_models_id);


--
-- Name: payload_locked_documents_rels_users_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_rels_users_id_idx ON public.payload_locked_documents_rels USING btree (users_id);


--
-- Name: payload_locked_documents_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_locked_documents_updated_at_idx ON public.payload_locked_documents USING btree (updated_at);


--
-- Name: payload_migrations_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_migrations_created_at_idx ON public.payload_migrations USING btree (created_at);


--
-- Name: payload_migrations_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_migrations_updated_at_idx ON public.payload_migrations USING btree (updated_at);


--
-- Name: payload_preferences_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_created_at_idx ON public.payload_preferences USING btree (created_at);


--
-- Name: payload_preferences_key_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_key_idx ON public.payload_preferences USING btree (key);


--
-- Name: payload_preferences_rels_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_rels_order_idx ON public.payload_preferences_rels USING btree ("order");


--
-- Name: payload_preferences_rels_parent_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_rels_parent_idx ON public.payload_preferences_rels USING btree (parent_id);


--
-- Name: payload_preferences_rels_path_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_rels_path_idx ON public.payload_preferences_rels USING btree (path);


--
-- Name: payload_preferences_rels_users_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_rels_users_id_idx ON public.payload_preferences_rels USING btree (users_id);


--
-- Name: payload_preferences_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX payload_preferences_updated_at_idx ON public.payload_preferences USING btree (updated_at);


--
-- Name: products_category_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_category_idx ON public.products USING btree (category_id);


--
-- Name: products_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_created_at_idx ON public.products USING btree (created_at);


--
-- Name: products_images_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_images_image_idx ON public.products_images USING btree (image_id);


--
-- Name: products_images_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_images_order_idx ON public.products_images USING btree (_order);


--
-- Name: products_images_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_images_parent_id_idx ON public.products_images USING btree (_parent_id);


--
-- Name: products_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX products_locales_locale_parent_id_unique ON public.products_locales USING btree (_locale, _parent_id);


--
-- Name: products_reference_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX products_reference_idx ON public.products USING btree (reference);


--
-- Name: products_rels_brands_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_rels_brands_id_idx ON public.products_rels USING btree (brands_id);


--
-- Name: products_rels_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_rels_order_idx ON public.products_rels USING btree ("order");


--
-- Name: products_rels_parent_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_rels_parent_idx ON public.products_rels USING btree (parent_id);


--
-- Name: products_rels_path_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_rels_path_idx ON public.products_rels USING btree (path);


--
-- Name: products_rels_truck_models_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_rels_truck_models_id_idx ON public.products_rels USING btree (truck_models_id);


--
-- Name: products_sizes_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_sizes_order_idx ON public.products_sizes USING btree (_order);


--
-- Name: products_sizes_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_sizes_parent_id_idx ON public.products_sizes USING btree (_parent_id);


--
-- Name: products_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX products_slug_idx ON public.products_locales USING btree (slug, _locale);


--
-- Name: products_truck_category_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_truck_category_idx ON public.products USING btree (truck_category_id);


--
-- Name: products_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX products_updated_at_idx ON public.products USING btree (updated_at);


--
-- Name: truck_categories_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_categories_created_at_idx ON public.truck_categories USING btree (created_at);


--
-- Name: truck_categories_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_categories_image_idx ON public.truck_categories USING btree (image_id);


--
-- Name: truck_categories_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX truck_categories_locales_locale_parent_id_unique ON public.truck_categories_locales USING btree (_locale, _parent_id);


--
-- Name: truck_categories_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX truck_categories_slug_idx ON public.truck_categories_locales USING btree (slug, _locale);


--
-- Name: truck_categories_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_categories_updated_at_idx ON public.truck_categories USING btree (updated_at);


--
-- Name: truck_models_brand_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_models_brand_idx ON public.truck_models USING btree (brand_id);


--
-- Name: truck_models_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_models_created_at_idx ON public.truck_models USING btree (created_at);


--
-- Name: truck_models_image_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_models_image_idx ON public.truck_models USING btree (image_id);


--
-- Name: truck_models_locales_locale_parent_id_unique; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX truck_models_locales_locale_parent_id_unique ON public.truck_models_locales USING btree (_locale, _parent_id);


--
-- Name: truck_models_slug_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX truck_models_slug_idx ON public.truck_models_locales USING btree (slug, _locale);


--
-- Name: truck_models_truck_category_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_models_truck_category_idx ON public.truck_models USING btree (truck_category_id);


--
-- Name: truck_models_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX truck_models_updated_at_idx ON public.truck_models USING btree (updated_at);


--
-- Name: users_created_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX users_created_at_idx ON public.users USING btree (created_at);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE UNIQUE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_sessions_order_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX users_sessions_order_idx ON public.users_sessions USING btree (_order);


--
-- Name: users_sessions_parent_id_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX users_sessions_parent_id_idx ON public.users_sessions USING btree (_parent_id);


--
-- Name: users_updated_at_idx; Type: INDEX; Schema: public; Owner: epct_user
--

CREATE INDEX users_updated_at_idx ON public.users USING btree (updated_at);


--
-- Name: about_page_gallery about_page_gallery_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page_gallery
    ADD CONSTRAINT about_page_gallery_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: about_page_gallery about_page_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page_gallery
    ADD CONSTRAINT about_page_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.about_page(id) ON DELETE CASCADE;


--
-- Name: about_page about_page_hero_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.about_page
    ADD CONSTRAINT about_page_hero_image_id_media_id_fk FOREIGN KEY (hero_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: blogs blogs_cover_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs
    ADD CONSTRAINT blogs_cover_image_id_media_id_fk FOREIGN KEY (cover_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: blogs_gallery blogs_gallery_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_gallery
    ADD CONSTRAINT blogs_gallery_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: blogs_gallery blogs_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_gallery
    ADD CONSTRAINT blogs_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.blogs(id) ON DELETE CASCADE;


--
-- Name: blogs_rels blogs_rels_blogs_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_rels
    ADD CONSTRAINT blogs_rels_blogs_fk FOREIGN KEY (blogs_id) REFERENCES public.blogs(id) ON DELETE CASCADE;


--
-- Name: blogs_rels blogs_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_rels
    ADD CONSTRAINT blogs_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.blogs(id) ON DELETE CASCADE;


--
-- Name: blogs_tags blogs_tags_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.blogs_tags
    ADD CONSTRAINT blogs_tags_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.blogs(id) ON DELETE CASCADE;


--
-- Name: brands brands_featured_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_featured_image_id_media_id_fk FOREIGN KEY (featured_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: brands_locales brands_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands_locales
    ADD CONSTRAINT brands_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.brands(id) ON DELETE CASCADE;


--
-- Name: brands brands_logo_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_logo_id_media_id_fk FOREIGN KEY (logo_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: categories categories_icon_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_icon_id_media_id_fk FOREIGN KEY (icon_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: categories_locales categories_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.categories_locales
    ADD CONSTRAINT categories_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: contact_submissions contact_submissions_attachment_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.contact_submissions
    ADD CONSTRAINT contact_submissions_attachment_id_media_id_fk FOREIGN KEY (attachment_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: global_settings_catalogue_p_d_fs global_settings_catalogue_p_d_fs_file_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_catalogue_p_d_fs
    ADD CONSTRAINT global_settings_catalogue_p_d_fs_file_id_media_id_fk FOREIGN KEY (file_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: global_settings_catalogue_p_d_fs global_settings_catalogue_p_d_fs_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_catalogue_p_d_fs
    ADD CONSTRAINT global_settings_catalogue_p_d_fs_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.global_settings(id) ON DELETE CASCADE;


--
-- Name: global_settings_locales global_settings_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.global_settings_locales
    ADD CONSTRAINT global_settings_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.global_settings(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_blogs_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_blogs_fk FOREIGN KEY (blogs_id) REFERENCES public.blogs(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_brands_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_brands_fk FOREIGN KEY (brands_id) REFERENCES public.brands(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_categories_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_categories_fk FOREIGN KEY (categories_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_contact_submissions_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_contact_submissions_fk FOREIGN KEY (contact_submissions_id) REFERENCES public.contact_submissions(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_media_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_media_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_locked_documents(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_products_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_products_fk FOREIGN KEY (products_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_truck_categories_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_truck_categories_fk FOREIGN KEY (truck_categories_id) REFERENCES public.truck_categories(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_truck_models_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_truck_models_fk FOREIGN KEY (truck_models_id) REFERENCES public.truck_models(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_preferences(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: products products_category_id_categories_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_categories_id_fk FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: products_images products_images_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_images
    ADD CONSTRAINT products_images_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: products_images products_images_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_images
    ADD CONSTRAINT products_images_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_locales products_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_locales
    ADD CONSTRAINT products_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_rels products_rels_brands_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_rels
    ADD CONSTRAINT products_rels_brands_fk FOREIGN KEY (brands_id) REFERENCES public.brands(id) ON DELETE CASCADE;


--
-- Name: products_rels products_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_rels
    ADD CONSTRAINT products_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_rels products_rels_truck_models_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_rels
    ADD CONSTRAINT products_rels_truck_models_fk FOREIGN KEY (truck_models_id) REFERENCES public.truck_models(id) ON DELETE CASCADE;


--
-- Name: products_sizes products_sizes_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products_sizes
    ADD CONSTRAINT products_sizes_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products products_truck_category_id_truck_categories_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_truck_category_id_truck_categories_id_fk FOREIGN KEY (truck_category_id) REFERENCES public.truck_categories(id) ON DELETE SET NULL;


--
-- Name: truck_categories truck_categories_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories
    ADD CONSTRAINT truck_categories_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: truck_categories_locales truck_categories_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_categories_locales
    ADD CONSTRAINT truck_categories_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.truck_categories(id) ON DELETE CASCADE;


--
-- Name: truck_models truck_models_brand_id_brands_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models
    ADD CONSTRAINT truck_models_brand_id_brands_id_fk FOREIGN KEY (brand_id) REFERENCES public.brands(id) ON DELETE SET NULL;


--
-- Name: truck_models truck_models_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models
    ADD CONSTRAINT truck_models_image_id_media_id_fk FOREIGN KEY (image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: truck_models_locales truck_models_locales_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models_locales
    ADD CONSTRAINT truck_models_locales_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.truck_models(id) ON DELETE CASCADE;


--
-- Name: truck_models truck_models_truck_category_id_truck_categories_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.truck_models
    ADD CONSTRAINT truck_models_truck_category_id_truck_categories_id_fk FOREIGN KEY (truck_category_id) REFERENCES public.truck_categories(id) ON DELETE SET NULL;


--
-- Name: users_sessions users_sessions_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: epct_user
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict SgW2NdJVfbLlQ92OTmGDR1sEXweo6eCQDzu1B4cwMeEh4UlO6585HPoEM33dAQv

